html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

body {
    background-color: #f8f8ed;
    font-family: "Lora";
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    overflow-y: scroll;
    box-sizing: border-box;
}
#wrapper.dropdown-active {
    overflow-y: unset;
}

.heading {
    background-color: rgba(193, 198, 214, 1.0);
    position: fixed;
    width: 100%;
    height: 120px;
    font-size: 1.6em;
    margin-top: 0em;
    margin-left: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 2em;
    z-index: 900;
}

.heading #name {
    width: 330px;
    display: inline-block;
    margin-top: 2.6em;
}

.heading #name a {
    font-weight: 500;
    color: #222;
    text-decoration: none;
}

.heading #name a:hover {
    font-style: italic;
    border-bottom: 1px solid #000;
    /*background: rgba(93,138,168,0.3);*/
}

.heading p#location {
    display: inline-block;
    font-weight: 400;
    font-size: 0.8em;
    opacity: 0.7;
}
.heading p#location span#city {
    font-style: italic;
}

.navbar ul {
    position: fixed;
    background-color: rgba(218, 218, 225, 0.7);
    margin-top: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 200px;
    display: table;
    width: 100%;
    height: 50px;
    list-style: none;
    z-index: 900;
}

.navbar ul li {
    list-style-type: none;
    font-size: 1.1em;
    display: table-cell;
    text-align: center;
    width: 8em;
    height: 100%;
    padding-top: 0px;
    padding-right: 0;
}

.navbar ul li:hover {
    background-color: rgba(193, 198, 214, 0.4);
    font-style: italic;
}

.navbar .menu li a {
    display: block;
    color: #222;
    text-decoration: none;
    height: 100%;
    padding-top: 10px;
}

#home-img-container {
    height: 80%;
    width: auto;
    margin-left: 10%;
    z-index: 400;
}

#home-img {
    max-height: 100%;
    max-width: 90%;
    margin-right: auto;
    display: block;
    z-index: 400;
}


.main-text {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: left;
    margin-left: 16vw;
    margin-right: 20vw;
    margin-top: 200px;
    padding-bottom: 200px;
}

.main-text .spread {
    color: #5f88a0;
    font-size: 1.6em;
    letter-spacing: .15em;
    line-height: .1em;
    text-transform: uppercase;
}

.main-text blockquote {
    font-size: 1.8em;
    font-style: italic;
    border-left: 12px solid rgba(193, 198, 214, 0.4);
    padding-left: 10px;
}

.main-text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 0;
    z-index: 0;
}

figcaption {
    text-align: right;
    font-style: italic;
}

figcaption a {
    text-decoration: none;
    color: #000;
}

figcaption a:hover {
    border-bottom: 1px solid #000;
}


#bio_pic {
    float: left;
    width: 38.5%;
    height: auto;
    opacity: 0.95;
    margin-right: 1em;
    padding: 0;
    z-index: 100;
}

.cred {
    display: block;
}

.faq_question {
    color: #5f88a0;
    font-size: 1.2em;
}

.faq_address {
    margin-left: 1em;
    margin-top: .4em;
    margin-bottom: 1em;
    padding: .4em;   
}

.services_headers {
    color: #5f88a0;
    font-size: 1.3em;
    margin-bottom: .2em;
}

.fees_headers {
    color: #5f88a0;
    font-size: 1.2em;
}

.headway:hover {
    color: #f8f8ed;
    background-color: #5f88a0;
}

.emphasis {
    color: #5f88a0;
    font-size: 1.2em;
}

#contact {
    font-size: 1.2em;
}

#contact a {
    color: #5f88a0;
    text-decoration: none;
}

#contact a#phone_number {
    color: black;
}

#contact a#phone_number:hover {
    color: #f8f8ed;
}

#contact a:hover {
    color: #f8f8ed;
    background-color: #5f88a0;
    text-decoration: none;
}

.media_link {
    margin-left: 20%;
    width: 50%;
    margin-bottom: 1em;
    padding: .1em;
    border: 2px solid rgba(0, 0, 0, 0.0);
}
.media_link:hover {
    box-shadow: 5px 5px 5px rgba(4, 4, 4, 0.1);
}

.media_link img {
    cursor: pointer;
    width: 100%;
    padding: 0;
    margin-right: 0;
    opacity: 0.9;
    z-index: 999;
   
}

/*navigation dropdown men*/
.select-menu {
  visibility: hidden;
  width: 100vw;
  position: fixed;
  margin: 0;
  z-index: 900;
}
.select-menu .select-btn {
  display: flex;
  height: 6vh;
  background: rgba(193, 198, 214, 1.0);
  padding: 60px 30px 30px 30px;
  font-size: 1.6em;
  font-weight: 500;
  color: #222;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.select-menu .select-btn .mobile_city {
    font-style: italic;
    font-weight: 400;
    font-size: 0.8em;
    opacity: 0.7;
}
.select-menu .options {
  position: absolute;
  visibility: hidden;
  width: 80vw;
  max-height: 90vh;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #f8f8ed;
  font-style: italic;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  height: 65px;
  cursor: pointer;
  padding: 0;
  background: rgba(218, 218, 225, 0.7);
  z-index: 900;
}
.select-menu .options li.option {
    line-height: 65px;
}
.select-menu .options .option a{
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.select-menu .options .option a span{
    font-weight: 500;
    margin-left: 12px;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}

.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  visibility: visible;
  display: block;
  opacity: 0;
  z-index: 900;
  overflow-y: scroll;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}
.disable_scrollbar::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
.disable_scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}    
/*end navigation dropdown menu*/

/*Hamburger Menu Icon*/
.container{
    position: fixed;
    right: 4vw;
    top: 10px;
    float: right;
}

.hamburger .line{
  width: 40px;
  height: 4px;
  background-color: rgba(113, 115, 124, 1.0);
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
/*End Hamburger Menu Icon*/


@media (max-width: 1300px) {

    .main-text {
        margin-left: 10vw;
        margin-right: 12vw;
    }

    #bio_pic {
        width: 40%;
    }

}

@media (max-width: 800px) {

    .heading {
        visibility: hidden;
    }

    .navbar ul {
        visibility: hidden;
    }

    .select-menu {
        visibility: visible;
    }

    .select-menu .select-btn {
        height: 8vh;
    }

    .main-text {
        margin-left: 6vw;
        margin-right: 4vw;
        margin-top: 190px;
    }

    #index_figure img {
        width: 110%;
        margin-left: -1.5em;
    }

    #bio_pic {
        width: 56%;
        margin-right: .5em;
    }

    .spread.bio {
        font-size: revert;
        color: revert;
        letter-spacing: revert;
        line-height: revert;
        text-transform: revert;
    }
    .big_letter{
        color: #5f88a0;
        font-size: 7.5em;
        line-height: 1em;
        padding-bottom: 0px;
        padding-right: 2px;
        float: left;
        margin-top: -0.07em;
        margin-right: 0.07em;
        margin-bottom: -0.1em;
    }
    .cred {
        margin-bottom: 0.6em;
    }
}

@media (max-height: 620px) {
    .select-menu .options {
        height: 60vh;
    }
}

@media (max-height: 420px) {
    .select-menu .options {
        height: 55vh;
    }
}

@media (max-height: 320px) {
    .select-menu .options {
        height: 45vh;
    }
}
